{% extends "::base.html.twig" %}

{% block title %}FormationBundle:Formation:show{% endblock %}

{% block body %}
    tabl
<h1>Formation Numero: {{ formation.id }} Titre: {{ formation.title }}</h1>
{% endblock %}
