{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panle-title">
                    Formation creation
                </div>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Create" />
                {{ form_end(form) }}
            </div>
            <div class="panel-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" href="{{ path('formation_index') }}">Retour à la listet</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
