{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teacher creation</h1>

    {{ form_start(form,{'attr':{'class':'test_formulaire','id':'another-id'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('teacher_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
